//font
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");

//breakpoints
$breakpoint-desktop: 1440px;
$breakpoint-large-tablet: 992px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 400px;

html {
  font-size: 62.5%;
}

body {
  font-family: "Lexend Deca", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.activity__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  //   align-items: flex-start;
  align-items: stretch;

  width: 100vw;

  @media screen and(max-width: $breakpoint-tablet) {
    flex-direction: column;
  }

  //   height: max-content;

  .activity__container__left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 19rem;

    @media screen and(max-width: $breakpoint-desktop) {
      gap: 16rem;
    }

    @media screen and(max-width: $breakpoint-large-tablet) {
      gap: 6rem;
    }

    width: 50%;

    @media screen and(max-width: $breakpoint-tablet) {
      width: 100%;
    }

    .activity__container__main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      width: 86.3%;

      margin: 7.2rem 0rem 0rem 8rem;

      @media screen and(max-width: $breakpoint-desktop) {
        margin: 6.4rem 0rem 0rem 7.2rem;
      }

      @media screen and(max-width: $breakpoint-large-tablet) {
        margin: 6rem 0rem 0rem 6.6rem;
      }

      @media screen and(max-width: $breakpoint-tablet) {
        margin: 4rem 0rem 0rem 4rem;
      }

      @media screen and(max-width: $breakpoint-mobile) {
        margin: 3.2rem 0rem 0rem 2rem;
      }

      .activity__key {
        display: flex;

        p {
          font-style: normal;
          font-weight: 300;
          font-size: 1.8rem;
          line-height: 3rem;

          text-transform: uppercase;
          color: #2b2b35;

          @media screen and(max-width: $breakpoint-desktop) {
            font-size: 1.6rem;
            line-height: 2.6rem;
          }

          @media screen and(max-width: $breakpoint-large-tablet) {
            font-size: 1.5rem;
            line-height: 2.4rem;
          }

          @media screen and(max-width: $breakpoint-tablet) {
            font-size: 1.4rem;
            line-height: 2.2rem;
          }
        }
      }

      .activity__header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .title__subtitle__flex {
          display: flex;
          flex-direction: column;

          .activity__title {
            display: flex;

            h2 {
              font-style: normal;
              font-weight: 800;
              font-size: 7.2rem;
              line-height: 9rem;
              letter-spacing: -0.02em;
              text-transform: uppercase;

              color: #2b2b35;

              @media screen and(max-width: $breakpoint-desktop) {
                font-size: 6.4rem;
                line-height: 8rem;
              }

              @media screen and(max-width: $breakpoint-large-tablet) {
                font-size: 5.5rem;
                line-height: 6.4rem;
              }

              @media screen and(max-width: $breakpoint-tablet) {
                font-size: 5rem;
                line-height: 5.7rem;

                margin-top: -0.5rem;
              }

              @media screen and(max-width: $breakpoint-mobile) {
                font-size: 4rem;
                line-height: 4.5rem;

                margin-top: -0.5rem;
              }
            }
          }

          .activity__subtitle {
            display: flex;

            h4 {
              font-style: normal;
              font-weight: 600;
              font-size: 2.4rem;
              //   line-height: 10rem;

              letter-spacing: -0.02em;
              text-transform: uppercase;

              color: #2b2b35;

              @media screen and(max-width: $breakpoint-desktop) {
                font-size: 2.16rem;
              }

              @media screen and(max-width: $breakpoint-large-tablet) {
                font-size: 1.8rem;
              }

              @media screen and(max-width: $breakpoint-tablet) {
                font-size: 1.6rem;

                margin-top: -0.5rem;
              }

              @media screen and(max-width: $breakpoint-mobile) {
                font-size: 1.5rem;
                margin-top: -0.5rem;
              }
            }
          }
        }

        .button__sub__flex {
          display: flex;
          flex-direction: column;

          margin-top: 4rem;

          @media screen and(max-width: $breakpoint-desktop) {
            margin-top: 3.6rem;
          }

          @media screen and(max-width: $breakpoint-large-tablet) {
            margin-top: 3.2rem;
          }

          @media screen and(max-width: $breakpoint-tablet) {
            margin-top: 2rem;
          }

          @media screen and(max-width: $breakpoint-mobile) {
            margin-top: 0rem;
          }

          .explore-more {
            display: flex;

            button {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;

              padding: 1.5rem 3rem;
              background: #d93a31;
              border: none;

              gap: 2.4rem;

              @media screen and(max-width: $breakpoint-desktop) {
                padding: 1.3rem 2.6rem;
                gap: 2.1rem;
              }

              @media screen and(max-width: $breakpoint-large-tablet) {
                padding: 0.8rem 1.6rem;
              }

              @media screen and(max-width: $breakpoint-tablet) {
                padding: 0.7rem 1.4rem;
                gap: 1.8rem;
              }

              @media screen and(max-width: $breakpoint-mobile) {
                padding: 0.5rem 1rem;
                gap: 1.8rem;
              }

              .explore-more__text {
                display: flex;

                p {
                  font-style: normal;
                  font-weight: 600;
                  font-size: 1.4rem;

                  letter-spacing: -0.02em;
                  text-transform: uppercase;

                  color: #ffffff;

                  @media screen and(max-width: $breakpoint-desktop) {
                    font-size: 1.32rem;
                  }

                  @media screen and(max-width: $breakpoint-tablet) {
                    font-size: 1.4rem;
                  }

                  @media screen and(max-width: $breakpoint-mobile) {
                    font-size: 1.2rem;
                  }
                }
              }

              .explore-more__arrow {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                img {
                  width: 100%;

                  @media screen and(max-width: $breakpoint-desktop) {
                    width: 90%;
                  }

                  @media screen and(max-width: $breakpoint-large-tablet) {
                    width: 80%;
                  }

                  @media screen and(max-width: $breakpoint-tablet) {
                    width: 70%;
                  }
                }
              }
            }
          }

          .sub-description__text {
            display: flex;

            @media screen and(max-width: $breakpoint-tablet) {
              margin-top: -0.4rem;
            }

            @media screen and(max-width: $breakpoint-mobile) {
              margin-top: -0.7rem;
            }

            p {
              font-style: normal;
              font-weight: 300;
              font-size: 1.8rem;
              line-height: 3rem;

              display: flex;
              align-items: center;

              color: #2b2b35;

              @media screen and(max-width: $breakpoint-desktop) {
                font-size: 1.7rem;
                line-height: 2.85rem;
              }

              @media screen and(max-width: $breakpoint-large-tablet) {
                font-size: 1.5rem;
                line-height: 2.55rem;
              }

              @media screen and(max-width: $breakpoint-tablet) {
                font-size: 1.4rem;
                line-height: 2.4rem;
              }

              @media screen and(max-width: $breakpoint-mobile) {
                font-size: 1.2rem;
                line-height: 2rem;
              }
            }
          }
        }
      }

      .product-outlet__flex {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        gap: 9rem;
        margin-top: 4.8rem;

        @media screen and(max-width: $breakpoint-mobile) {
          align-items: flex-start;
        }

        @media screen and(max-width: $breakpoint-desktop) {
          gap: 8.1rem;
          margin-top: 4.4rem;
        }

        @media screen and(max-width: $breakpoint-large-tablet) {
          flex-direction: column;
          gap: 1rem;
          margin-top: 4rem;
        }

        @media screen and(max-width: $breakpoint-tablet) {
          gap: 0rem;
          margin-top: 2rem;
        }

        @media screen and(max-width: $breakpoint-mobile) {
          gap: 0rem;
          margin-top: 1rem;
        }

        .product-count__flex {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;

          .more-than {
            display: flex;

            p {
              font-style: normal;
              font-weight: 300;
              font-size: 1.4rem;
              //   line-height: 0rem;

              text-transform: uppercase;
              color: #2b2b35;

              @media screen and(max-width: $breakpoint-large-tablet) {
                font-size: 1.3rem;
              }

              @media screen and(max-width: $breakpoint-mobile) {
                font-size: 1.2rem;
              }
            }
          }

          .product-count {
            display: flex;
            margin-top: -3rem;

            @media screen and(max-width: $breakpoint-large-tablet) {
              margin-top: -3.5rem;
            }

            @media screen and(max-width: $breakpoint-mobile) {
              margin-top: -3rem;
            }

            h2 {
              font-style: normal;
              font-weight: 800;
              font-size: 8rem;
              line-height: 0rem;

              letter-spacing: -0.02em;
              text-transform: uppercase;

              color: #2b2b35;

              @media screen and(max-width: $breakpoint-desktop) {
                font-size: 7.2rem;
              }

              @media screen and(max-width: $breakpoint-large-tablet) {
                font-size: 6.4rem;
              }

              @media screen and(max-width: $breakpoint-tablet) {
                font-size: 6rem;
              }

              @media screen and(max-width: $breakpoint-mobile) {
                font-size: 5rem;
              }
            }
          }

          .product-genre {
            display: flex;
            margin-top: -3.5rem;

            @media screen and(max-width: $breakpoint-large-tablet) {
              margin-top: -3.7rem;
            }

            @media screen and(max-width: $breakpoint-mobile) {
              margin-top: -3.1rem;
            }

            h4 {
              font-style: normal;
              font-weight: 600;
              font-size: 1.4rem;

              text-transform: uppercase;

              color: #2b2b35;

              @media screen and(max-width: $breakpoint-desktop) {
                font-size: 1.35rem;
              }

              @media screen and(max-width: $breakpoint-large-tablet) {
                font-size: 1.3rem;
              }

              @media screen and(max-width: $breakpoint-mobile) {
                font-size: 1.2rem;
              }

              @media screen and(max-width: $breakpoint-mobile) {
                font-size: 1.1rem;
              }
            }
          }
        }

        .outlet-count__flex {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;

          .more-than {
            display: flex;

            p {
              font-style: normal;
              font-weight: 300;
              font-size: 1.4rem;
              //   line-height: 0rem;

              text-transform: uppercase;
              color: #2b2b35;

              @media screen and(max-width: $breakpoint-large-tablet) {
                font-size: 1.3rem;
              }

              @media screen and(max-width: $breakpoint-mobile) {
                font-size: 1.2rem;
              }
            }
          }

          .product-count {
            display: flex;
            margin-top: -3rem;

            @media screen and(max-width: $breakpoint-large-tablet) {
              margin-top: -3.5rem;
            }

            @media screen and(max-width: $breakpoint-mobile) {
              margin-top: -3rem;
            }

            h2 {
              font-style: normal;
              font-weight: 800;
              font-size: 8rem;
              line-height: 0rem;

              letter-spacing: -0.02em;
              text-transform: uppercase;

              color: #2b2b35;

              @media screen and(max-width: $breakpoint-desktop) {
                font-size: 7.2rem;
              }

              @media screen and(max-width: $breakpoint-large-tablet) {
                font-size: 6.4rem;
              }

              @media screen and(max-width: $breakpoint-tablet) {
                font-size: 6rem;
              }

              @media screen and(max-width: $breakpoint-mobile) {
                font-size: 5rem;
              }
            }
          }

          .outlet-country {
            display: flex;
            margin-top: -3.5rem;

            @media screen and(max-width: $breakpoint-large-tablet) {
              margin-top: -3.7rem;
            }

            @media screen and(max-width: $breakpoint-mobile) {
              margin-top: -3.1rem;
            }

            h4 {
              font-style: normal;
              font-weight: 600;
              font-size: 1.4rem;

              text-transform: uppercase;

              color: #2b2b35;

              @media screen and(max-width: $breakpoint-desktop) {
                font-size: 1.35rem;
              }

              @media screen and(max-width: $breakpoint-large-tablet) {
                font-size: 1.3rem;
              }

              @media screen and(max-width: $breakpoint-mobile) {
                font-size: 1.1rem;
              }
            }
          }
        }
      }
    }

    .activity__container__footer {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      width: 100%;
      padding: 4.8rem 8rem;

      background: #2b2b35;

      @media screen and(max-width: $breakpoint-desktop) {
        padding: 4.4rem 7.2rem;
      }

      @media screen and(max-width: $breakpoint-large-tablet) {
        padding: 4rem 6rem;
      }

      @media screen and(max-width: $breakpoint-tablet) {
        padding: 3rem 4rem;
      }

      @media screen and(max-width: $breakpoint-mobile) {
        padding: 2.6rem 2rem;
      }

      .content__flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 80%;

        max-width: 58rem;

        @media screen and(max-width: $breakpoint-desktop) {
          max-width: auto;
        }

        @media screen and(max-width: $breakpoint-large-tablet) {
          flex-direction: column;
          align-items: flex-start;
          gap: 2rem;
        }

        @media screen and(max-width: $breakpoint-mobile) {
          gap: 1.8rem;
        }

        .accessibility__flex {
          display: flex;
          flex-direction: row;
          gap: 2rem;

          @media screen and(max-width: $breakpoint-desktop) {
            gap: 0rem;
          }

          .accessibility__icon {
            display: flex;
            flex-direction: column;

            img {
              width: 100%;

              @media screen and(max-width: $breakpoint-desktop) {
                width: 80%;
              }

              @media screen and(max-width: $breakpoint-mobile) {
                width: 70%;
              }
            }
          }

          .accessibility__text__flex {
            display: flex;
            flex-direction: column;
            align-content: space-between;

            .accessibility__title {
              display: flex;

              p {
                font-style: normal;
                font-weight: 400;
                font-size: 1.4rem;
                line-height: 0rem;

                letter-spacing: -0.02em;
                text-transform: uppercase;

                color: #b5b5c2;

                @media screen and(max-width: $breakpoint-desktop) {
                  font-size: 1.2rem;
                }

                @media screen and(max-width: $breakpoint-large-tablet) {
                  font-size: 1.1rem;
                }

                @media screen and(max-width: $breakpoint-mobile) {
                  font-size: 1rem;
                }
              }
            }

            .accessibility__value {
              display: flex;

              margin-top: -1.8rem;

              @media screen and(max-width: $breakpoint-large-tablet) {
                margin-top: -1.6rem;
              }

              @media screen and(max-width: $breakpoint-mobile) {
                margin-top: -1.2rem;
              }

              h4 {
                font-style: normal;
                font-weight: 700;
                font-size: 2.4rem;
                line-height: 0rem;

                letter-spacing: -0.02em;
                text-transform: uppercase;

                color: #ffffff;

                @media screen and(max-width: $breakpoint-desktop) {
                  font-size: 2.2rem;
                }

                @media screen and(max-width: $breakpoint-large-tablet) {
                  font-size: 2rem;
                }

                @media screen and(max-width: $breakpoint-mobile) {
                  font-size: 1.8rem;
                }
              }
            }
          }
        }

        .type__flex {
          display: flex;
          flex-direction: row;
          gap: 2rem;

          @media screen and(max-width: $breakpoint-desktop) {
            gap: 0rem;
          }

          .type__icon {
            display: flex;
            flex-direction: column;

            img {
              width: 100%;

              @media screen and(max-width: $breakpoint-desktop) {
                width: 80%;
              }

              @media screen and(max-width: $breakpoint-mobile) {
                width: 70%;
              }
            }
          }

          .type__text__flex {
            display: flex;
            flex-direction: column;
            align-content: space-between;

            .type__title {
              display: flex;

              p {
                font-style: normal;
                font-weight: 400;
                font-size: 1.4rem;
                line-height: 0rem;

                letter-spacing: -0.02em;
                text-transform: uppercase;

                color: #b5b5c2;

                @media screen and(max-width: $breakpoint-desktop) {
                  font-size: 1.2rem;
                }

                @media screen and(max-width: $breakpoint-large-tablet) {
                  font-size: 1.1rem;
                }

                @media screen and(max-width: $breakpoint-mobile) {
                  font-size: 1rem;
                }
              }
            }

            .type__value {
              display: flex;

              margin-top: -1.8rem;

              @media screen and(max-width: $breakpoint-large-tablet) {
                margin-top: -1.6rem;
              }

              @media screen and(max-width: $breakpoint-mobile) {
                margin-top: -1.2rem;
              }

              h4 {
                font-style: normal;
                font-weight: 700;
                font-size: 2.4rem;
                line-height: 0rem;

                letter-spacing: -0.02em;
                text-transform: uppercase;

                color: #ffffff;

                @media screen and(max-width: $breakpoint-desktop) {
                  font-size: 2.2rem;
                }

                @media screen and(max-width: $breakpoint-large-tablet) {
                  font-size: 2rem;
                }

                @media screen and(max-width: $breakpoint-mobile) {
                  font-size: 1.8rem;
                }
              }
            }
          }
        }
      }
    }
  }

  .activity__container__right {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    // align-items: flex-end;
    justify-content: flex-start;
    justify-content: space-between;

    width: 50%;
    // height: 100%;

    @media screen and(max-width: $breakpoint-tablet) {
      width: 100%;
    }

    .activity__container__right__header {
      display: flex;
      flex-direction: column;
      align-self: flex-end;
      align-items: flex-end;

      margin: 7.2rem 9.2rem 0rem 0rem;

      @media screen and(max-width: $breakpoint-desktop) {
        margin: 6.4rem 8rem 0rem 0rem;
      }

      @media screen and(max-width: $breakpoint-large-tablet) {
        margin: 6rem 7.2rem 0rem 0rem;
      }

      @media screen and(max-width: $breakpoint-tablet) {
        margin: 4rem 4rem 0rem 0rem;
      }

      @media screen and(max-width: $breakpoint-mobile) {
        margin: 2rem 2rem 0rem 0rem;
      }

      .price__title {
        display: flex;

        h4 {
          font-style: normal;
          font-weight: 400;
          font-size: 2rem;
          line-height: 0rem;

          letter-spacing: -0.02em;
          text-transform: uppercase;

          color: #9497a8;

          @media screen and(max-width: $breakpoint-desktop) {
            font-size: 1.8rem;
          }

          @media screen and(max-width: $breakpoint-large-tablet) {
            font-size: 1.6rem;
          }
        }
      }

      .price__value {
        display: flex;
        margin-top: -2rem;

        h4 {
          font-style: normal;
          font-weight: 400;
          font-size: 2rem;
          line-height: 0rem;

          /* identical to box height, or 200% */
          display: flex;
          align-items: center;
          letter-spacing: -0.02em;
          text-transform: uppercase;

          color: #000000;

          @media screen and(max-width: $breakpoint-desktop) {
            font-size: 1.8rem;
          }

          @media screen and(max-width: $breakpoint-large-tablet) {
            font-size: 1.6rem;
          }
        }
      }
    }

    .active__container__right__image {
      @media screen and(max-width: $breakpoint-tablet) {
        margin-top: 2rem;
      }

      @media screen and(max-width: $breakpoint-mobile) {
        margin-top: 2rem;
      }

      display: flex;
      flex-direction: column;

      justify-self: flex-end;
    }
  }
}
